@page
@model AboutModel
@{
    ViewData["Title"] = "About Me";
}
<h1>@ViewData["Title"]</h1>

<p>I am Thomas Due, I have been developing software since my first Commodore 64, almost 40 years ago.</p>
<p>These days, I am using .net and c#. </p>

<p>This is my personal website, built from scratch with asp.net core razor. It is primarily intended 
    to be used as a blog, but will serve as a show-case of, well, me.</p>


