@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>You have arrived at the personal homepage of Thomas Due.</p>
    <p>I am a software developer, gamer, roleplayer (TTRPG) and father. These are my personal pages, where I present myself, my thought, keep my projects etc.</p>
    <p>Not everything here will be for everyone, and that is fine.</p>
</div>
