@page
@model IndexModel
@{
    ViewData["Title"] = Model.Title;
}

<div class="content">
    <div>@Html.Raw(Model.PageContent)</div>


    <div style="font-size: 0.8em; color:darkgrey">
        <span>@Model.Created</span>
        <span>@Model.Updated</span>
        <span>@Model.Author</span>
    </div>

</div>
