@inherits ContentPageBase
@page "/Content/{pageName}"
@using Dove.Blog.WebApp.Components.Layout

<PageTitle>@Title</PageTitle>

@if (PageContent != null)
{
    <div>
        @PageContent
    </div>


    <PageData Data="@PageData" />
}
else
{
    <p>Loading...</p>
}
