@page "/StatusPage/{statusCode}"

<h3>StatusPage</h3>

@code {

    [Parameter]
    public int StatusCode { get; set; }
    [Inject]
    private NavigationManager NavigationManager { get; set; } = default!;
    
    protected override void OnInitialized()
    {
        if (StatusCode == 404)
        {
            NavigationManager.NavigateTo("/Error");
        }
        else
        {
            NavigationManager.NavigateTo("/Error");
        }
    }

}
